body {
    background: #fff;
    margin: 0;
    padding: 0;
}

/* Navigation bar. */
nav {
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

h1 {
    display: inline-block;
}

ul {
    float: right;
    margin: 0;
}

ul, h1 {
    font-size: 1.2em;
    margin: .2em 1em;
}

li {
    display: inline-block;
}

li a {
    border: 1px solid black;
    color: #000;
    padding: 0 1em;
    text-decoration: none;
    
}

li a:hover {
    background: #aff;
}









table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0px solid black;
    margin: 1em auto;
    width: 90%;

}

tr, thead {
    border: 1px solid black;
    border-spacing: 0;
}

.even {
    background: #CCC;
}