body {
    background: #ccc;
    margin: 0;
    padding: 0;
}

/* Box shadow and border for main content elements. */
div#main {
    background: #fff;
    border: 1px solid #000;
    border-spacing: 0;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #666;
    margin: 1em auto;
    max-width: 90%;
    padding: 0;
}

#main h3 {
    margin: 20px 25px 0;
}

#main h2,
#main p,
#main ul {
    margin: 10px 25px;
}

/* Header and Navigation bar. */
h1 {
    color: #fff;
    background-color: #2196f3;
    font-size: 1em;
    margin: 0;
    padding: 20px; 
    text-align: center; 
}

h1 a {
    color: #fff;
    text-decoration: none;
}

.nav_menu { 
    overflow: hidden; 
    background-color: #bbdefb;
}

.nav_menu a { 
    float: left;
    display: block; 
    color: #212121;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
} 

.nav_menu a:hover { 
    background: #fff; 
    color: #2196f3; 
} 

.nav_menu input[type=text] {
    border: none;
    float: right;
    font-size: 17px;
    margin: 8px 16px 0 0;
    padding: 6px;
}

/* Footer. */
#footer {
    background-color: #000;
    bottom: -900px;
    height: 300px;
    position: absolute;
    width: 100%;
}

footer a:link,
footer a:visited {
    color: #fff;
    text-decoration: none;
}


/* Table results. */
table {
    border-spacing: 0;
    padding: 0;
    width: 100%;
}

tr {
    border: 0;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 2px 5px;
}

tr:nth-child(2n+3) {
    background: #bbdefb;
}

.last {
    font-size: .8em;
    padding: 5px;
    text-align: center;
}

/* Forms. */
fieldset {
    background: #fff;
    border: 0 none;
    margin: 1em auto;
    padding: 15px;
    text-align: left;
    width: 500px;
}

label {
    display: inline-block;
    font-size: .9em;
    text-align: left;
    width: 150px;
}

input, select {
    margin: 2px;
}

select {
    width: 90px;
}

input[type=number] {
    text-align: center;
    width: 50px;
}

input[type=text] {
    width: 150px;
}
input[type=submit] {
    justify-self: center;
}