body {
    background: #fff;
    margin: 0;
    padding: 0;
}

/* Header and Navigation bar. */
.header { 
     background-color: #2196F3;
    padding: 20px; 
    text-align: center; 
    }
    .nav_menu { 
     overflow: hidden; 
     background-color: #BBDEFB;
 } 
 .nav_menu a { 
     float: left;
     display: block; 
     color: #212121;
     text-align: center; 
     padding: 14px 16px; 
     text-decoration: none;
 } 
.nav_menu a:hover { 
 background-color: white; 
 color: #2196F3; 
} 

.nav_menu input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/*end navigation bar*/

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0px solid black;
    margin: 1em auto;
    width: 90%;

}

tr, thead {
    border: 1px solid black;
    border-spacing: 0;
}

.even {
    background: #CCC;
}
